@using CoffeShopWeb.Models;
@using System.Collections.ObjectModel;

@model ObservableCollection<Food>

@{
    ViewBag.Title = "Food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <div id="food" class="content__food">
            <i class="fas fa-plus"></i>
            <span>Thêm mới</span>
        </div>
    </div>
    <div class="menu__select col l-o-2 l-4">
        <label for="food">Danh mục</label>
        <select name="food" id="food">
            <option value="cafe">cafe</option>
            <option value="nước cam">nước cam</option>
            <option value="bánh ngọt">bánh ngọt</option>
            <option value="Trà Sữa">Trà Sữa</option>
        </select>
    </div>
    <div style="display: block;" class="col l-4">
        <div class="content__find-wrap">
            <input type="text" placeholder="Tìm kiếm" class="content__find">
            <i class="fas fa-search"></i>
        </div>
    </div>
</div>

<div class="row " id="rowShowFood">
    @foreach(var item in Model)
    {
        <div class="food__wrap col l-3">
            @{
                Html.RenderPartial("_FoodPartialView",item);
            }
        </div>
    }

</div>

<div class="box__layout">
    <div id="food-add" class="box__layout-add food">
        <div class="layout-add__header">
            <h3>Thêm món</h3>
        </div>
        <div class="food__add-content">
            <div class="add__img-wrap">
                <img src="https://lh3.googleusercontent.com/proxy/7xI1HtSI_Aa-y0Em6gOmyi8k_fxZ3dhe3K8-oKZgeSI_xBUy27L3ATZ6eNyUB_g__TmrSpqvFQhJKqKYbFk" alt="" width="300px" height="300px">
            </div>
            <div class="layout-add__content food">
                <div style="display:block" class="add__input-wrap food ">
                    <input type="text" placeholder="Tên danh mục">
                </div>
                <div style="display:block" class="add__input-wrap food ">
                    <input type="text" placeholder="Danh mục">
                </div>
                <div class="price__input">
                    <div style="display:block" class="add__input-wrap food ">
                        <input type="text" placeholder="Giá nhập">
                    </div>
                    <div style="display:block" class="add__input-wrap food ">
                        <input type="text" placeholder="Giá bán">
                    </div>
                </div>
                <div style="display:block" class="add__input-wrap food ">
                    <input type="text" placeholder="Số lượng">
                </div>
                <div style="display:block" class="add__input-wrap food ">
                    <input type="text" placeholder="Ghi chú">
                </div>
                <div class="layout-add__btn food">
                    <button id="save-btn__food" class="layout-add__save">Lưu</button>
                    <button id="out-btn__food" class="layout-add__out ">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-food_layout" class="box__layout-delete">
        <div class="layout-delete__header">
            <h3>Bạn có chắc muốn xóa</h3>
        </div>
        <div class="layout-delete__btn" ">
            <button id="accept-btn__food" class="layout-delete__accept">Đồng ý</button>
            <button id="reject-btn__food" class="layout-delete__out ">Thoát</button>
        </div>
    </div>
</div>

@section scripts{
    <script>
        const add_FoodLayout = document.querySelector('#food-add')
        const del_FoodLayout = document.querySelector('#delete-food_layout')

        //const foodAdd = document.querySelector('#food') // nut them san pham trong menu mon
        //const foodChange = document.querySelector('#change-food')
        //const food_outBtn = document.querySelector('#out-btn__food')
        //const del_foodBtn = document.querySelectorAll('#delete-food')
        //const food_rejectBtn = document.querySelector('#reject-btn__food')

        ////Add
        //foodAdd.onclick = function () {
        //    add_FoodLayout.style.display = "block";
        //    add_FoodLayout.parentElement.style.display = "flex"
        //}

        ////Change
        //foodChange.onclick = function () {
        //    add_FoodLayout.style.display = "block";
        //    add_FoodLayout.parentElement.style.display = "flex"
        //}
        ////Save
        //food_outBtn.onclick = function () {
        //    add_FoodLayout.style.display = "none";
        //    add_FoodLayout.parentElement.style.display = "none"
        //}

        ////Agree to delete
        //Array.from(del_foodBtn).forEach(function (item, index) {
        //    item.onclick = function () {
        //        del_FoodLayout.style.display = "block";
        //        del_FoodLayout.parentElement.style.display = "flex"
        //    }
        //})

        ////
        //food_rejectBtn.onclick = function () {
        //    del_FoodLayout.style.display = "none";
        //    del_FoodLayout.parentElement.style.display = "none"
        //}

        ////Load
        //$(document).ready(function () {
        //    LoadFoodList();
        //})

        ////method
        //function LoadFoodList() {
        //    $.ajax({
        //        url: '/Home/GetFoodList',
        //        type: 'get',
        //        success: function (data) {
        //            console.log("ok")
        //            if (data.code == 200) {
        //                $('#rowFood').empty();
        //                console.log(data.msg);
        //                $.each(data.foodList, function (k, v) {
        //                    let div = "<div class='food__wrap col l-3' id='" + v.Id +"'>";
        //                    div += "<div class='contentmenu'>";
        //                    div += "<img src='" + v.Image.Data + "' alt='' class='contentmenu-img' width='100%'>";
        //                    div += "<div class='contentfood - wrap'>";
        //                    div += "<h3>" + v.Name + "</h3>";
        //                    div += "<span>" + v.OutputPrice + "</span>";
        //                    div += "<div class='menu__wrap - order'>";
        //                    div += "<div class='menu__order - empty'>";
        //                    div += "<input type='checkbox' value='" + v.IsOutOfStock + "'>";
        //                    div += "<span>Hết hàng</span>";
        //                    div += "</div>";
        //                    div += "<div class='menu__order - icon'>";
        //                    div += "<i class='fas fa - pencil - alt'></i>";
        //                    div += "<i class='fas fa - trash'></i>";
        //                    div += "</div>";
        //                    div += "</div>";
        //                    div += "</div>";
        //                    div += "</div>";
        //                    $('#rowShowFood').append(div);
        //                });
        //            }
        //        }
        //    });
        //}
    </script>
}


