
@{
    ViewBag.Title = "Food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <div id="btnAdd" class="content__food">
            <i class="fas fa-plus"></i>
            <span>Thêm mới</span>
        </div>
    </div>

    <div class="menu__select col l-o-2 l-4">
        <label for="food">Danh mục</label>
        <select name="food" id="categoryForSeach">
            
        </select>
    </div>
    <div style="display: block;" class="col l-4">
        <div class="content__find-wrap">
            <input type="text"  placeholder="Tìm kiếm" id="TextBoxSearch" class="content__find">
            <i id="startSearch" class="fas fa-search"></i>
        </div>
    </div>
</div>

<div class="row " id="rowShowFood">
    
</div>

<div class="box__layout">
    <div id="food-add" class="box__layout-add food">
        <div class="layout-add__header">
            <h3 id="modelTitle">Thêm món</h3>
        </div>
        <div class="food__add-content">
            <div class="add__img-wrap" id="addImgWrap">   
                <img src="https://www.bdsnhatrang.net/uploads/no-img.jpg" alt="" id="show_picture" name="picture" width="300px" height="300px">
                <input style="display:block;" id="ChoseImg" accept="image/*" type="file" name="fileImg" width="300px" />
            </div>
            <div class="layout-add__content food">
                <input type="hidden" id="idAnyFood" value="" />
                <div style="display:block" class="add__input-wrap food">
                    <input id="name" type="text" placeholder="Tên món">
                </div>
                <div style="display:block" class="add__input-wrap food">
                    <select style="width: 100%; font-size: 1.4rem; width: 100%; text-align: center; padding: 10px 0;" name="category" id="selectedCategory">
                    </select>
                </div>
                <div class="price__input">
                    <div style="display:block" class="add__input-wrap food">
                        <input id="inputPrice" type="text" placeholder="Giá nhập">
                    </div>
                    <div style="display:block" class="add__input-wrap food">
                        <input id="outputPrice" type="text" placeholder="Giá bán">
                    </div>
                </div>
                <div style="display:block" class="add__input-wrap food">
                    <input id="count" type="text" placeholder="Số lượng">
                </div>
                <div style="display:block" class="add__input-wrap food">
                    <input id="note" type="text" placeholder="Ghi chú">
                </div>

                <div class="layout-add__btn food">
                    <button id="save-btn__food" class="layout-add__save">Lưu</button>
                    <button id="out-btn__food" class="layout-add__out ">Thoát</button>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-food_layout" class="box__layout-delete">
        <div class="layout-delete__header">
            <h3>Bạn có chắc muốn xóa</h3>
        </div>
        <div class="layout-delete__btn">
            <button id="accept-btn__food" class="layout-delete__accept">Đồng ý</button>
            <button id="reject-btn__food" class="layout-delete__out ">Thoát</button>
        </div>
    </div>
</div>

@section scripts{
    <script>
       
        const add_FoodLayout = document.querySelector('#food-add')
        const del_FoodLayout = document.querySelector('#delete-food_layout')
        const navBtn = document.querySelectorAll('.sidebar__menu-link')
        document.querySelector('.sidebar__menu-link.active').classList.remove('active')
        navBtn[3].classList.add('active')

        //Load
        $(document).ready(function () {
            LoadFoodList();
        });

        //button add new
        $('#btnAdd').click(function () {
            //set up to add new item
            $('#idAnyFood').val('');
            $('#modelTitle').text('Thêm món mới');

            //open modal add new
            add_FoodLayout.style.display = "block";
            add_FoodLayout.parentElement.style.display = "flex";
        });

        //button edit
        $(document).on('click', "button[name='edit']", function () {
            //Get id from food is clicking
            let id = $(this).closest('button').attr('Id');
            //show infor
            $.ajax({
                url: '/Home/GetInforFood',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        const food = JSON.parse(data.food)
                        //show infor category
                        $('#idAnyFood').val(id);
                        $('#name').val(food.Name);
                        $('#selectedCategory').val(food.IdCategory);
                        $('#inputPrice').val(food.IntputPrice);
                        $('#outputPrice').val(food.OutputPrice);
                        $('#count').val(food.Stock);
                        $('#note').val(food.Note);
                        $('#show_picture').attr('src', food.Image.Data);

                        //set up modal to show infor
                        $('#name').prop('readonly', false);
                        $('#note').prop('readonly', false);
                        $('#selectedCategory').prop('readonly', false);
                        $('#inputPrice').prop('readonly', false);
                        $('#outputPrice').prop('readonly', false);
                        $('#count').prop('readonly', false);
                        $('#ChoseImg').show();
                        $('#save-btn__food').show();

                        //open modal show item
                        $('#modelTitle').text('Chỉnh sửa thông tin');
                        add_FoodLayout.style.display = "block";
                        add_FoodLayout.parentElement.style.display = "flex";
                    } else {
                        alert(data.msg);
                    }
                }

            });

            //open modal add new
            add_FoodLayout.style.display = "block";
            add_FoodLayout.parentElement.style.display = "flex";
        });

        //button delete
        $(document).on('click', "button[name='delete']", function () {
            //Get id from food is clicking
            let id = $(this).closest('button').attr('Id');


            del_FoodLayout.style.display = "block";
            del_FoodLayout.parentElement.style.display = "flex";

            //accept
            $('#accept-btn__food').click(function () {
                //show dailog
                $.ajax({
                    url: '/Home/DeleteFood',
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            del_FoodLayout.style.display = "none";
                            del_FoodLayout.parentElement.style.display = "none";
                            alert(data.msg);
                        } else {
                            alert(data.msg);
                        }
                    }

                });
            });

            //reject
            $('#reject-btn__food').click(function () {
                del_FoodLayout.style.display = "none";
                del_FoodLayout.parentElement.style.display = "none";
            });

        });

        

        //Load categories combobox
        $.ajax({
            url: "/Home/GetCategoryList",
            type: "get",
            success: function (data) {
                if (data.code == 200) {
                    $('#selectedCategory').empty();
                    const categories = JSON.parse(data.CategoryList)
                    $('#selectedCategory').empty();
                    $('#categoryForSeach').empty();
                    let optionAll = "<option value='123987'>Tất cả</option>"
                    $('#categoryForSeach').append(optionAll);
                    $.each(categories, function (k, v) {
                        let option = "<option value='" + v.Id + "'>" + v.Name + "</option>"
                        $('#selectedCategory').append(option);
                        $('#categoryForSeach').append(option);
                    });
                }
            }
        });

        //buntton close
        $('#out-btn__food').click(function () {
            SetModalToDefault();
            //close modal
            add_FoodLayout.style.display = "none";
            add_FoodLayout.parentElement.style.display = "none"
        });

        //Chose image event
        $('#ChoseImg').change(function () {
            //get file uploaded
            var fileUpload = $(this).get(0).files;
            var data = new FormData();
            data.append("File", fileUpload[0])

            //save gile uploaded and get url to show
            $.ajax({
                type: 'post',
                url: '/Home/UpLoadImg',
                contentType: false,
                processData: false,
                data: data,
                success: function (url) {
                    $('#show_picture').attr('src', url.urlImg)
                }
            })
        });


        //button save
        $('#save-btn__food').click(function () {
            //get value input
            let name = $('#name').val().trim();
            let idCategory = $('#selectedCategory').val().trim();
            var inputPrice = $('#inputPrice').val().trim();
            inputPrice = parseFloat(inputPrice);
            var outputPrice = $('#outputPrice').val().trim();
            outputPrice = parseFloat(outputPrice);
            var count = $('#count').val().trim();
            count = parseInt(count)
            let note = $('#note').val().trim();

            //get id
            let id = $('#idAnyFood').val().trim();
            console.log("id",id)

            //check data is valid or invalid
            if (name.length == 0) {
                alert('Vui lòng nhập tên món để tiếp tục');
                return;
            }
            if (idCategory.length == 0) {
                alert('Vui lòng chọn danh mục món để tiếp tục');
                return;
            }
            if (inputPrice.length == 0) {
                alert('Giá nhập của món phải lớn hơn 1000vnđ');
                return;
            }
            if (outputPrice.length == 0) {
                alert('Giá bán phải lớn hơn giá nhập và lớn hơn 1000vnđ');
                return;
            }
            if (count.length == 0) {
                alert('Số lượng nhập phải lớn hơn 1 sp');
                return;
            }

            //check event is add new or edit
            if (id.length == 0) {
                //add new food
                $.ajax({
                    url: '/Home/AddFood',
                    type: 'post',
                    data: {
                        name: name,
                        idCategory: idCategory,
                        stock: count,
                        inputPrice: inputPrice,
                        outputPrice: outputPrice,
                        note: note,
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            SetModalToDefault();
                            LoadFoodList();

                        } else {
                            alert(data.msg);
                        }
                    }
                });
            } else {
                //save change food
                $.ajax({
                    url: '/Home/EditFood',
                    type: 'post',
                    data: {
                        id: id,
                        name: name,
                        idCategory: idCategory,
                        stock: count,
                        inputPrice: inputPrice,
                        outputPrice: outputPrice,
                        note: note,
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            SetModalToDefault();
                            LoadFoodList();
                            alert(data.msg);
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }

        });



        //button show infor each row item
        $(document).on('click', "button[name='view']", function () {
            //Get id from food is clicking
            let id = $(this).closest('button').attr('Id');

            //show infor
            $.ajax({
                url: '/Home/GetInforFood',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        const food = JSON.parse(data.food)
                        //show infor category
                        $('#name').val(food.Name);
                        $('#selectedCategory').val(food.IdCategory);
                        $('#inputPrice').val(food.IntputPrice);
                        $('#outputPrice').val(food.OutputPrice);
                        $('#count').val(food.Stock);
                        $('#note').val(food.Note);
                        $('#show_picture').attr('src', food.Image.Data);

                        //set up modal to show infor
                        $('#name').prop('readonly', true);
                        $('#note').prop('readonly', true);
                        $('#selectedCategory').prop('readonly', true);
                        $('#inputPrice').prop('readonly', true);
                        $('#outputPrice').prop('readonly', true);
                        $('#count').prop('readonly', true);
                        $('#ChoseImg').hide();
                        $('#save-btn__food').hide();

                        //open modal show item
                        $('#modelTitle').text('Thông tin chi tiết');
                        add_FoodLayout.style.display = "block";
                        add_FoodLayout.parentElement.style.display = "flex";
                    } else {
                        alert(data.msg);
                    }
                }

            });
        });

        //event search
        $('#startSearch').click(function () {
            SearchFood();
        })

        $('#TextBoxSearch').change(function () {
            SearchFood();
        })

        $('#categoryForSeach').change(function () {
            SearchFood();
        })

        //method
        function LoadFoodList() {
            $.ajax({
                url: '/Home/GetFoodList',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        const foods = JSON.parse(data.foodList)
                        ShowFood(foods);
                    }
                }
            });
        }

        function SearchFood() {
            let idCategory = $('#categoryForSeach').val().trim();
            let nameSearch = $('#TextBoxSearch').val().trim();


            $.ajax({
                url: '/Home/SearchFood',
                type: 'get',
                data: {
                    nameSearch: nameSearch,
                    idCategory: idCategory
                },
                success: function (data) {
                    if (data.code == 200) {
                        const foods = JSON.parse(data.foodList)
                        ShowFood(foods);
                    }
                }
            });
        }

        function ShowFood(foods) {
            $('#rowShowFood').empty();
            $.each(foods, function (k, v) {
                let div = "<div class='food__wrap col l-3'>";
                div += "<div class='content__menu'>";
                div += "<img src='" + v.Image.Data + "' class='content__menu-img' width='100%' height='200px'>";
                div += "<div class='content__food-wrap'>";
                div += "<h3>" + v.Name + "</h3>";
                div += "<span>" + v.OutputPrice + "</span>";
                div += "<div class='menu__wrap-order'>";
                div += "<div class='menu__order-empty'>";
                div += "<input type='checkbox' value='" + v.IsOutOfStock + "'>";
                div += "<span>Hết hàng</span>";
                div += "</div>";
                div += "<div class='menu__order-icon'>";
                div += "<button name='view' id='" + v.Id +"'><i class='fas fa-ellipsis-h'></i></button>";
                div += "<button name='edit' id='" + v.Id +"'><i class='fas fa-pencil-alt'></i></button>";
                div += "<button name='delete' id='" + v.Id +"'><i class='fas fa-trash'></i></button>";
                div += "</div>";
                div += "</div>";
                div += "</div>";
                div += "</div>";
                $('#rowShowFood').append(div);
            });
        }

        function SetModalToDefault() {
            //set up modal to default
            $('#name').prop('readonly', false);
            $('#note').prop('readonly', false);
            $('#selectedCategory').prop('readonly', false);
            $('#inputPrice').prop('readonly', false);
            $('#outputPrice').prop('readonly', false);
            $('#count').prop('readonly', false);
            $('#ChoseImg').show();
            $('#save-btn__food').show();

            $('#name').val('');
            $('#selectedCategory').val('');
            $('#inputPrice').val('');
            $('#outputPrice').val('');
            $('#count').val('');
            $('#note').val('');
            $('#ChoseImg').val('');
            $('#show_picture').attr('src', "https://www.bdsnhatrang.net/uploads/no-img.jpg");
        }
    </script>
}


