<div class="row">
    <div class="col">
        <div id="btn-add__cate" class="content__food">
            <i class="fas fa-plus"></i>
            <span>Thêm mới</span>
        </div>
    </div>
    <div style="display: block;" class="col l-o-4  l-4">
        <div class="content__find-wrap">
            <input type="text" placeholder="Tìm kiếm" class="content__find">
            <i class="fas fa-search"></i>
        </div>
    </div>
</div>
<div class="row">
    <div style="display: block;" class="col l-12">
        <table cellspacing class="table-content">
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Ghi chú</th>
                <th>Người tạo</th>
                <th>Ngày tạo</th>
                <th>Người chỉnh sửa</th>
                <th>Ngày chỉnh chửa</th>
                <th>Chức năng</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Cafe</th>
                <th></th>
                <th>admin</th>
                <th>8/10/2021 10:34:32 PM</th>
                <th></th>
                <th></th>
                <th><i class="add-cate-btn fas fa-pencil-alt"></i><i class="delete-cate-btn fas fa-trash"></i></th>
            </tr>
            <tr>
                <th>2</th>
                <th>Kem</th>
                <th></th>
                <th>admin</th>
                <th>8/10/2021 10:34:32 PM</th>
                <th>Người chỉnh sửa</th>
                <th>Ngày chỉnh chửa</th>
                <th><i class="add-cate-btn fas fa-pencil-alt"></i><i class="delete-cate-btn fas fa-trash"></i></th>
            </tr>
        </table>
    </div>
</div>
<div class="box__layout">
    <div id="cate-add" class="box__layout-add">
        <div class="layout-add__header">
            <h3>Thêm sản phẩm</h3>
        </div>
        <div class="layout-add__content">
            <div class="add__input-wrap">
                <input type="text" placeholder="Tên danh mục">
            </div>
            <div class="add__input-wrap">
                <input type="text" placeholder="Ghi chú">
            </div>
        </div>
        <div class="layout-add__btn">
            <button id="save-btn__cate" class="layout-add__save">Lưu</button>
            <button id="out-btn__cate" class="layout-add__out ">Thoát</button>
        </div>
    </div>
    <div id="cate-fix" class="box__layout-add">
        <div class="layout-add__header">
            <h3>Chỉnh sửa</h3>
        </div>
        <div class="layout-add__content">
            <div class="add__input-wrap">
                <input type="text" placeholder="Tên danh mục">
            </div>
            <div class="add__input-wrap">
                <input type="text" placeholder="Ghi chú">
            </div>
        </div>
        <div class="layout-add__btn">
            <button id="save-btn__fix" class="layout-add__save">Lưu</button>
            <button id="out-btn__fix" class="layout-add__out ">Thoát</button>
        </div>
    </div>
    <div id="delete-cate_layout" class="box__layout-delete">
        <div class="layout-delete__header">
            <h3>Bạn có chắc muốn xóa</h3>
        </div>
        <div class="layout-delete__btn">
            <button id="accept-btn__cate" class="layout-delete__accept">Đồng ý</button>
            <button id="reject-btn__cate" class="layout-delete__out ">Thoát</button>
        </div>
    </div>
</div>
@section scripts{
    <script>
        const add_CateLayout = document.querySelector('#cate-add')
        const del_CateLayout = document.querySelector('#delete-cate_layout')
        const cate_fixLayout = document.querySelector('#cate-fix')
        const btnCate = document.querySelector('#btn-add__cate') // nut them san pham trong Danh muc
        const del_cateBtn = document.querySelectorAll('.delete-cate-btn')
        const cate_outBtn = document.querySelector('#out-btn__cate')
        const cate_rejectBtn = document.querySelector('#reject-btn__cate')
        const cate_fixBtn = document.querySelectorAll('.add-cate-btn')
        const cate_outfixBtn = document.querySelector('#out-btn__fix')
        btnCate.onclick = function () {
            add_CateLayout.style.display = "block";
            add_CateLayout.parentElement.style.display = "flex"
        }
        cate_outBtn.onclick = function () {
            add_CateLayout.style.display = "none";
            add_CateLayout.parentElement.style.display = "none"
        }
        // chinh sua san pham cua Danh muc
        Array.from(cate_fixBtn).forEach(function (item) {
            item.onclick = function () {
                cate_fixLayout.style.display = "block";
                cate_fixLayout.parentElement.style.display = "flex"
            }
        })
        cate_outfixBtn.onclick = function () {
            cate_fixLayout.style.display = "none";
            cate_fixLayout.parentElement.style.display = "none"
        }
        // xac nhan xoa cua Danh muc
        Array.from(del_cateBtn).forEach(function (item) {
            item.onclick = function () {
                del_CateLayout.style.display = "block";
                del_CateLayout.parentElement.style.display = "flex"
            }
        })
        cate_rejectBtn.onclick = function () {
            del_CateLayout.style.display = "none";
            del_CateLayout.parentElement.style.display = "none"
        }
    </script>
}