@using CoffeShopWeb.Models;
@using System.Collections.ObjectModel;

@model ObservableCollection<FoodCategory>

@{
    ViewBag.Title = "FoodCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="content__food">
            <i class="fas fa-plus"></i>
            <span>Thêm mới</span>
        </div>
    </div>
    <div class="col">
        <div class="content__food">
            <i class="fas fa-pencil-alt"></i>
            <span>Sửa</span>
        </div>
    </div>
    <div class="col">
        <div class="content__food">
            <i class="fas fa-minus-circle"></i>
            <span>Xóa</span>
        </div>
    </div>
    <div style="display: block;" class="col l-o-4  l-4">
        <div class="content__find-wrap">
            <input type="text" placeholder="Tìm kiếm" class="content__find">
            <i class="fas fa-search"></i>
        </div>
    </div>
</div>

<div class="row">
    <div style="display: block;" class="col l-12">
        <table cellspacing class="table-content">
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Ghi chú</th>
                <th>Người tạo</th>
                <th>Ngày tạo</th>
                <th>Người chỉnh sửa</th>
                <th>Ngày chỉnh chửa</th>
            </tr>

            @foreach (var category in Model)
            {
                Html.RenderPartial("_FoodCategoryPartialView", category);
            }
        </table>
    </div>
</div>

