@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-page__content-wrap">
    <div style="width: 22%;left: 0;" class="main-page__content">

    </div>
    <div style="width: 22%; left: 24.9624%;" class="main-page__content">

    </div>
    <div style="width: 22%;left: 50%;" class="main-page__content">

    </div>
    <div style="width: 22%;left: 74.9624%;" class="main-page__content">

    </div>
    <div style="width: 47%;left: 0;top:170px" class="main-page__content">

    </div>
    <div style="width: 47%;left: 50%;top:170px;height: 200px;" class="main-page__content">

    </div>
    <div style="width: 47%;left: 0;top: 330px;height: 350px;" class="main-page__content">
        
    </div>
    <div style="width: 47%;left: 50%;top: 390px;height: 290px;" class="main-page__content">
 
    </div>
 
</div>
<script>
    const navBtn = document.querySelectorAll('.sidebar__menu-link')
    document.querySelector('.sidebar__menu-link.active').classList.remove('active')
    navBtn[0].classList.add('active')
    
    
</script>          