
@{
    ViewBag.Title = "Statistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="food__wrap col l-3">
        <div class="caculate-wrap">

        </div>
    </div>
    <div class="food__wrap col l-3">
        <div class="caculate-wrap">

        </div>
    </div>
    <div class="food__wrap col l-3">
        <div class="caculate-wrap">

        </div>
    </div>
    <div class="food__wrap col l-3">
        <div class="caculate-wrap">

        </div>
    </div>
    <div class="food__wrap col l-12">
        <div class="chart-wrap">

        </div>
    </div>
</div>

