
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col">
        <div class="content__food">
            <i class="fas fa-plus"></i>
            <span>Thêm mới</span>
        </div>
    </div>
    <div class="col">
        <div class="content__food">
            <i class="fas fa-pencil-alt"></i>
            <span>Sửa</span>
        </div>
    </div>
    <div class="col">
        <div class="content__food">
            <i class="fas fa-minus-circle"></i>
            <span>Xóa</span>
        </div>
    </div>
</div>
<div class="row">
    <div style="display: block;" class="col l-3">
        <div class="table__menu-wrap">
            <h3>Ban1</h3>
            <div class="table__menu-btn">
                <i class="fas fa-pencil-alt"></i>
                <i class="fas fa-cash-register"></i>
                <i class="fas fa-edit"></i>
            </div>
        </div>
    </div>
    <div style="display: block;" class="col l-3">
        <div class="table__menu-wrap">
            <h3>Ban1</h3>
            <div class="table__menu-btn">
                <i class="fas fa-pencil-alt"></i>
                <i class="fas fa-cash-register"></i>
                <i class="fas fa-edit"></i>
            </div>
        </div>
    </div>
</div>


