
@{
    ViewBag.Title = "Paid";
    Layout = "~/Views/Shared/_payPage.cshtml";
}

<div class="content__sold-wrap active">
    <div class="row">
        <div class="table__sold">
            <table class="table-sold__content">
                <tr>
                    <th>Chi tiết</th>
                    <th>Tên bàn</th>
                    <th>Ngày thanh toán</th>
                    <th>Id</th>
                </tr>
                <tr>
                    <td></td>
                    <td>Bàn 1</td>
                    <td>20/10/2021 10:34:32pm</td>
                    <td>123456</td>
                </tr>
            </table>
        </div>
    </div>
</div>

