<div class="content__menu">
    <img src="https://capherangxay.vn/wp-content/uploads/2019/12/kinh-doanh-cafe-online-co-thu-vi-khong-5.jpg" alt="" class="content__menu-img" width="100%">
    <div class="content__food-wrap">
        <h3>Cafe</h3>
        <span>45000</span>
        <div class="menu__wrap-order">
            <div class="menu__order-empty">
                <input type="checkbox">
                <span>hết hàng</span>
            </div>
            <div class="menu__order-icon">
                <i class="fas fa-pencil-alt"></i>
                <i class="fas fa-trash"></i>
            </div>
        </div>
    </div>
</div>
