

<div class="content__menu">
    <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg?w=144" alt="" class="content__menu-img" width="100%">
    <div class="content__food-wrap">
        <h3>kẹo</h3>
        <span>3000</span>
        <div class="menu__wrap-order">
            <div class="menu__order-empty">
                <input type="checkbox">
                <span>hết hàng</span>
            </div>
            <div class="menu__order-icon">
                <button name="view"><i class="fas fa-ellipsis-v"></i></button><button name="edit"><i class="fas fa-pencil-alt"></i></button><button name="delete"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
