<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="~/Content/assets/base_MainLayout.css" rel="stylesheet" />
    <link href="~/Content/assets/grid_MainLayout.css" rel="stylesheet" />
    <link href="~/Content/assets/Style_MainLayout.css" rel="stylesheet" />
    <link href="~/Content/assets/modal.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container__content row no-gutters">
        <div class="sidebar-wrap l-2">
            <a href="" class="sidebar__logo">
                <img src="~/Content/images/logo.gif" alt="" width="100%">
            </a>
            <div class="sidebar__menu">
                <ul class="sidebar__menu-list">
                    <li class="sidebar__menu-item">
                        <a href="/Home/MainMenu" class="sidebar__menu-link active"><i class="fas fa-home"></i>Trang chủ</a>
                    </li>
                    <li class="sidebar__menu-item">
                        <a href="/Home/Table" class="sidebar__menu-link"><i class="fas fa-columns"></i>Bảng điều khiển</a>
                    </li>
                    <li class="sidebar__menu-item">
                        <a href="/Home/FoodCategories" class="sidebar__menu-link"><i class="fas fa-cash-register"></i></i>Danh Mục</a>
                    </li>
                    <li class="sidebar__menu-item">
                        <a href="/Home/Food" class="sidebar__menu-link"><i class="fas fa-pizza-slice"></i>Món</a>
                    </li>
                    <li class="sidebar__menu-item">
                        <a href="/Home/Statistic" class="sidebar__menu-link"><i class="fas fa-calculator"></i>thống Kê</a>
                    </li>
                    <li class="sidebar__menu-item">
                        <a href="/Home/Account" class="sidebar__menu-link"><i class="fas fa-user-alt"></i>Tài Khoản</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content__menu-wrap l-o-2">
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts",required:false)
    <script>

    </script>
</body>
</html>
